<h3>Tweets</h3>
<table>
<tr>
  <%= notice %>
</tr>
  <tr>
    <th>Tweets一覧</th>
  </tr>
  <% @tweets.each do |tweet| %>
    <tr>
      <td>
        <%= tweet.content %>
      </td>
      <td>
        <%= link_to "編集する", edit_tweet_path(tweet.id) %>
        <%= link_to "削除する", tweet_path(tweet.id),method: :delete, data:{   confirm:"本当に編集しても良いですか？"}  %>
      </td>  
    </tr>
  <% end %>
</table>