// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color:whitesmoke; 
}

header{
    display:flex;
    background-color: snow;
}

header a{
    display:flex;
    margin-left: 10px;
    padding: 10px;
}

header a:first-child{
    margin-right:auto;
    margin-left: 0;
    color:skyblue;
    font-size:25px;
}

footer{
  background-color: snow;
  margin-bottom: 0;
  position: fixed;
  bottom: 0px;
  width:100%;
  text-align: center;
}
